---
// src/components/BrandLogo.astro
---
<a href="/" class="flex items-center">
  <img
    src="/favicons/favicon-192.png"
    alt="PeekVisor Logo"
    class="h-12 w-12 mr-2 mb-1"
  />
  <span class="font-bold text-xl self-center text-neutral-800 dark:text-neutral-200 mb-0.5">PeekVisor</span>
</a>
